body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}

.sidebar {
    margin: auto 0;
    padding: 0;
    width: 350px;
    background-color: #ffa1bf ;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 5;
}

.sidebar-content {
    display: block;
    margin-top: 30%;
}


.sidebar-content a {
    display: block;
    color: #00469e;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: cursive ;
}


.sidebar-content a.active {
    color: #00469e;
}


.sidebar-content a:hover:not(.active) {
    color: whitesmoke ;
}

.content {
    height: 100%;
    width: 100%;
    position: absolute;
    vertical-align: center;

}

.inner-content {
    position: absolute;
    margin-left: 30%;
    margin-right: 5%;
    display: block;
    top: 10%;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    margin: 50px auto;
    display: flex;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.title {
    font-size: 65pt;
    color: #00469e;
    margin-bottom: 0;
}

.subtitle {
    font-weight: 100;
    word-spacing: 20%;
    color: black;
    font-size: 20pt;
}

.subtitle a {
    color: #a11919;
    text-decoration: none;
}

.text-paragraf {
    color: rgb(92, 92, 92);
    font-family: fantasy;
    text-align: justify;
}
.exp {
    display: flex;
}

.timeline-dots {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 40%;
    margin: auto 0;
}

.exp-content {
    margin-left: 50px;
}

.exp-content h1 {
    color: rgb(32, 32, 32);
}

.exp-content h3 {
    color: black;
    margin-bottom: 0;
    font-family: monospace;
    font-weight: bolder;
}

.exp-content p {
    font-family: sans-serif;
}

